html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #b3f0ff;
    margin: 0 0 100px;
}

.navBar {
    overflow: hidden;
    text-decoration: none;
    background-color: #0055B3;
}

.navBar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 20px;
}
.navTransition:hover {
    transition: 0.2s;
    background-color: #00428A;
    color: white !important;
}

.container {
    margin-top: 2em;
    border: solid #b3ffb3 6px;
    border-radius: 20px;
    width: auto;
    padding: 1em;
}
/*ff6666*/
.container h1 {
    margin-right: auto;
    margin-left: auto;
}

table {
    font-size: x-large;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
}

.thumbnail {
    max-width: 35em;
}

.fullNote {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1em;
}

.larger {
    font-size: xx-large;
}

footer {
    position: absolute;
    background-color: #0055B3;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
}

.blueLink {
    color: #0054B3;
}

.btn-primary {
    background-color: #0054B3;
}

.btn-success {
    background-color: #17631D;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #003F85;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#sidebar a, #sidebar b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar .closeButton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openButton {
    cursor: pointer;
    background-color: #00428A;
    color: white;
    padding: 10px 15px;
    border: none;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

@media (max-width: 767px) {
    .collapseNav {
        display: none;
    }
    .openButton {
        display: block;
    }
}
@media (min-width: 768px) {
    .collapseNav {
        display: block;
    }
    .openButton {
        display: none;
    }
}