body {
    background-color: grey !important;
}

.navBar {
    overflow: hidden;
    background-color: blue;
    text-decoration: none;
}

.navBar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 20px;
}
.navTransition:hover {
    transition: 0.2s;
    background-color: darkblue;
    color: black !important;
}

.content {
    margin-top: 2em;
    border: solid blue 10px;
    border-radius: 20px;
    width: auto;
}